{
  "openapi": "3.0.1",
  "info": {
    "title": "W Restaurant API",
    "description": "Gateway multi-tenant para Soft Restaurant. Registra tus sucursales y consulta sus datos en tiempo real. Versión estable para integraciones y SDK.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.wrestaurantapi.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/api/v1/productos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar productos",
        "description": "Devuelve el catálogo de productos de una sucursal, con paginación y filtros opcionales por grupo, clasificación y visibilidad en menú.",
        "operationId": "GetProducts",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idGrupo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clasificacion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibleMenu",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/estaciones/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar estaciones",
        "description": "Devuelve las estaciones (mesas, áreas, terminales) configuradas en una sucursal, con paginación y búsqueda opcional.",
        "operationId": "GetStations",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/grupos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar grupos",
        "description": "Devuelve los grupos (categorías de productos) configurados en una sucursal, con paginación y búsqueda opcional por id, descripción o clasificación.",
        "operationId": "GetGrupos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GruposQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/temp_ordenes/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden (nueva cuenta)",
        "description": "Crea una nueva cuenta y retorna el id.",
        "operationId": "CreateTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes temporales",
        "description": "Devuelve las órdenes abiertas del Punto de Venta de una sucursal, con filtro opcional por folio, número de cheque o total.",
        "operationId": "GetTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/temp_ordenes_cerradas/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden cerrada (venta rápida)",
        "description": "Crea una nueva venta cerrada con su pago y retorna el folio generado.",
        "operationId": "CreateClosedTempOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClosedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/meseros/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar meseros",
        "description": "Devuelve el listado de meseros configurados en una sucursal.",
        "operationId": "GetMeseros",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeserosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/empresas/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar empresas",
        "description": "Devuelve las empresas registradas en el Punto de Venta de una sucursal.",
        "operationId": "GetEmpresas",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmpresasResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/temp_ordenes_abiertas/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes abiertas del turno actual",
        "description": "Devuelve todas las cuentas activas (sin cancelar) del turno operativo actual (6:00 AM – 5:59:59 AM del día siguiente).",
        "operationId": "GetOpenOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenOrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/temp_ordenes_det/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar detalles de órdenes temporales",
        "description": "Devuelve las líneas de productos temporales de una sucursal, con paginación y filtros opcionales por folio de orden o búsqueda por producto.",
        "operationId": "GetTempOrderDetails",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "folio",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/formasdepago/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar todas las formas de pago en una sucursal",
        "description": "Retorna todas las formas de pago disponibles en una sucursal específica.",
        "operationId": "GetPaymentMethods",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/print/{licenseKey}": {
      "post": {
        "tags": [
          "Impresión"
        ],
        "summary": "Imprimir una orden",
        "description": "Renderiza tickets ESC/POS y los envía a las impresoras de la sucursal. Cada grupo apunta a una impresora por su id (printerId). Marca isReprint=true para reimpresiones.",
        "operationId": "PrintOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/print/{licenseKey}/printers": {
      "get": {
        "tags": [
          "Impresión"
        ],
        "summary": "Listar impresoras de la sucursal",
        "description": "Devuelve las impresoras configuradas para la sucursal (id, IP, nombre, ancho), para que el kiosko elija el printerId al imprimir.",
        "operationId": "GetPrinters",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterAssignmentsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommentDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateClosedOrderRequest": {
        "type": "object",
        "properties": {
          "turnDependent": {
            "type": "boolean"
          },
          "estacion": {
            "type": "string",
            "nullable": true
          },
          "serie": {
            "type": "string",
            "nullable": true
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "productos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartialProductDto"
            },
            "nullable": true
          },
          "idFormaDePago": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateClosedOrderResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "turnDependent": {
            "type": "boolean"
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "estacion": {
            "type": "string",
            "nullable": true
          },
          "serie": {
            "type": "string",
            "nullable": true
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "productos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartialProductDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "folio": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "EmpresaDto": {
        "type": "object",
        "properties": {
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "razonSocial": {
            "type": "string",
            "nullable": true
          },
          "direccion": {
            "type": "string",
            "nullable": true
          },
          "sucursal": {
            "type": "string",
            "nullable": true
          },
          "rfc": {
            "type": "string",
            "nullable": true
          },
          "curp": {
            "type": "string",
            "nullable": true
          },
          "telefono": {
            "type": "string",
            "nullable": true
          },
          "giro": {
            "type": "string",
            "nullable": true
          },
          "contacto": {
            "type": "string",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "fechaCompra": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "distribuidor": {
            "type": "string",
            "nullable": true
          },
          "numeroFactura": {
            "type": "string",
            "nullable": true
          },
          "numeroDeControl": {
            "type": "string",
            "nullable": true
          },
          "contrasenaControl": {
            "type": "string",
            "nullable": true
          },
          "idHardware": {
            "type": "string",
            "nullable": true
          },
          "licenciaPrincipal": {
            "type": "string",
            "nullable": true
          },
          "licenciaMonederoElectronico": {
            "type": "string",
            "nullable": true
          },
          "licenciaMonitorProduccion": {
            "type": "string",
            "nullable": true
          },
          "licenciaSrMovil": {
            "type": "string",
            "nullable": true
          },
          "licenciaManttoVentas": {
            "type": "string",
            "nullable": true
          },
          "licenciaPagoEnLinea": {
            "type": "string",
            "nullable": true
          },
          "licenciaHuellaDigital": {
            "type": "string",
            "nullable": true
          },
          "licenciaBillar": {
            "type": "string",
            "nullable": true
          },
          "franquicia": {
            "type": "string",
            "nullable": true
          },
          "web": {
            "type": "string",
            "nullable": true
          },
          "ciudad": {
            "type": "string",
            "nullable": true
          },
          "estado": {
            "type": "string",
            "nullable": true
          },
          "pais": {
            "type": "string",
            "nullable": true
          },
          "ciudadSucursal": {
            "type": "string",
            "nullable": true
          },
          "estadoSucursal": {
            "type": "string",
            "nullable": true
          },
          "passwordEmpresa": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EmpresasResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "empresas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmpresaDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GrupoDto": {
        "type": "object",
        "properties": {
          "idGrupo": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "clasificacion": {
            "type": "string",
            "nullable": true
          },
          "prioridad": {
            "type": "integer",
            "format": "int32"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "colorLetra": {
            "type": "string",
            "nullable": true
          },
          "prioridadImpresion": {
            "type": "integer",
            "format": "int32"
          },
          "cambiaColorCuenta": {
            "type": "boolean"
          },
          "colorCuenta": {
            "type": "string",
            "nullable": true
          },
          "colorLetraCuenta": {
            "type": "string",
            "nullable": true
          },
          "solicitaAutorizacion": {
            "type": "boolean"
          },
          "imagenMenuElectronico": {
            "type": "string",
            "nullable": true
          },
          "extMenu": {
            "type": "string",
            "nullable": true
          },
          "porcentajePropina": {
            "type": "number",
            "format": "double"
          },
          "imagenMenu": {
            "type": "string",
            "nullable": true
          },
          "idEtiqueta": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "workspaceId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "alcohol": {
            "type": "boolean"
          },
          "serviceCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GruposModificadorDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "idGruposModificadores": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "prioridad": {
            "type": "integer",
            "format": "int32"
          },
          "forzarCaptura": {
            "type": "boolean"
          },
          "maximoModificadores": {
            "type": "integer",
            "format": "int32"
          },
          "incluidos": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "GruposQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "grupos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GrupoDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MeseroDto": {
        "type": "object",
        "properties": {
          "idMeseroInterno": {
            "type": "integer",
            "format": "int64"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "contrasena": {
            "type": "string",
            "nullable": true
          },
          "tipo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "fotografia": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "visible": {
            "type": "boolean"
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "tipoAcceso": {
            "type": "boolean"
          },
          "capturaRestringidaMesas": {
            "type": "boolean"
          },
          "perfil": {
            "type": "string",
            "nullable": true
          },
          "monitorMeseroColorFondo": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "monitorMeseroColorLetra": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "accesoIndicadorMesas": {
            "type": "boolean"
          },
          "turnoAbierto": {
            "type": "boolean"
          },
          "comision": {
            "type": "number",
            "format": "double"
          },
          "autorizaProductosMenuQr": {
            "type": "boolean"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MeserosResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "meseros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeseroDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ModificadorDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "idModificador": {
            "type": "string",
            "nullable": true
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "idGruposModificadores": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ModifiersPrint": {
        "type": "object",
        "properties": {
          "idModifier": {
            "type": "string",
            "description": "Id interno del modificador.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Nombre del modificador impreso en el ticket.",
            "nullable": true
          },
          "price": {
            "type": "number",
            "description": "Precio del modificador. Se guarda para futuras plantillas de recibo; no se imprime en la comanda.",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "OpenOrderDto": {
        "type": "object",
        "properties": {
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "serieFolio": {
            "type": "string",
            "nullable": true
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          },
          "fecha": {
            "type": "string",
            "format": "date-time"
          },
          "cierre": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "pagado": {
            "type": "boolean"
          },
          "cancelado": {
            "type": "boolean"
          },
          "impreso": {
            "type": "boolean"
          },
          "impresiones": {
            "type": "integer",
            "format": "int32"
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "razonCancelado": {
            "type": "string",
            "nullable": true
          },
          "orden": {
            "type": "string",
            "nullable": true
          },
          "facturado": {
            "type": "boolean"
          },
          "idTurno": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "usuarioCancelo": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "usuarioPago": {
            "type": "string",
            "nullable": true
          },
          "totalArticulos": {
            "type": "number",
            "format": "double"
          },
          "subtotal": {
            "type": "number",
            "format": "double"
          },
          "subtotalSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "totalConPropina": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod1": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod2": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod3": {
            "type": "number",
            "format": "double"
          },
          "efectivo": {
            "type": "number",
            "format": "double"
          },
          "tarjeta": {
            "type": "number",
            "format": "double"
          },
          "vales": {
            "type": "number",
            "format": "double"
          },
          "otros": {
            "type": "number",
            "format": "double"
          },
          "propina": {
            "type": "number",
            "format": "double"
          },
          "totalSinDescuento": {
            "type": "number",
            "format": "double"
          },
          "totalAlimentos": {
            "type": "number",
            "format": "double"
          },
          "totalBebidas": {
            "type": "number",
            "format": "double"
          },
          "totalOtros": {
            "type": "number",
            "format": "double"
          },
          "totalDescuentos": {
            "type": "number",
            "format": "double"
          },
          "totalCortesias": {
            "type": "number",
            "format": "double"
          },
          "totalCortesiaAlimentos": {
            "type": "number",
            "format": "double"
          },
          "nombreMesero": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OpenOrdersResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenOrderDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderDetailDto": {
        "type": "object",
        "properties": {
          "folioDet": {
            "type": "integer",
            "format": "int32"
          },
          "movimiento": {
            "type": "integer",
            "format": "int32"
          },
          "comanda": {
            "type": "string",
            "nullable": true
          },
          "cantidad": {
            "type": "number",
            "format": "double"
          },
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "precioSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "comentario": {
            "type": "string",
            "nullable": true
          },
          "tiempo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mitad": {
            "type": "number",
            "format": "double"
          },
          "hora": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "modificador": {
            "type": "integer",
            "format": "int32"
          },
          "idEstacion": {
            "type": "string",
            "nullable": true
          },
          "impuesto1": {
            "type": "number",
            "format": "double"
          },
          "impuesto2": {
            "type": "number",
            "format": "double"
          },
          "impuesto3": {
            "type": "number",
            "format": "double"
          },
          "usuarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "idTipoDescuento": {
            "type": "string",
            "nullable": true
          },
          "idProductoCompuesto": {
            "type": "string",
            "nullable": true
          },
          "productoCompuestoPrincipal": {
            "type": "integer",
            "format": "int32"
          },
          "precioCatalogo": {
            "type": "number",
            "format": "double"
          },
          "marcar": {
            "type": "integer",
            "format": "int32"
          },
          "idMeseroProducto": {
            "type": "string",
            "nullable": true
          },
          "idCortesia": {
            "type": "string",
            "nullable": true
          },
          "numeroTarjeta": {
            "type": "string",
            "nullable": true
          },
          "folioProduccion": {
            "type": "number",
            "format": "double"
          },
          "nivel": {
            "type": "integer",
            "format": "int32"
          },
          "sistemaEnvio": {
            "type": "integer",
            "format": "int32"
          },
          "promoVolumen": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "OrderDetailsQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "orderDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetailDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderDtoWithItems": {
        "type": "object",
        "properties": {
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "serieFolio": {
            "type": "string",
            "nullable": true
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          },
          "fecha": {
            "type": "string",
            "format": "date-time"
          },
          "cierre": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "pagado": {
            "type": "boolean"
          },
          "cancelado": {
            "type": "boolean"
          },
          "impreso": {
            "type": "boolean"
          },
          "impresiones": {
            "type": "integer",
            "format": "int32"
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "razonCancelado": {
            "type": "string",
            "nullable": true
          },
          "orden": {
            "type": "string",
            "nullable": true
          },
          "facturado": {
            "type": "boolean"
          },
          "idTurno": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "usuarioCancelo": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "usuarioPago": {
            "type": "string",
            "nullable": true
          },
          "totalArticulos": {
            "type": "number",
            "format": "double"
          },
          "subtotal": {
            "type": "number",
            "format": "double"
          },
          "subtotalSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "totalConPropina": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod1": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod2": {
            "type": "number",
            "format": "double"
          },
          "totalImpuestod3": {
            "type": "number",
            "format": "double"
          },
          "efectivo": {
            "type": "number",
            "format": "double"
          },
          "tarjeta": {
            "type": "number",
            "format": "double"
          },
          "vales": {
            "type": "number",
            "format": "double"
          },
          "otros": {
            "type": "number",
            "format": "double"
          },
          "propina": {
            "type": "number",
            "format": "double"
          },
          "totalSinDescuento": {
            "type": "number",
            "format": "double"
          },
          "totalAlimentos": {
            "type": "number",
            "format": "double"
          },
          "totalBebidas": {
            "type": "number",
            "format": "double"
          },
          "totalOtros": {
            "type": "number",
            "format": "double"
          },
          "totalDescuentos": {
            "type": "number",
            "format": "double"
          },
          "totalCortesias": {
            "type": "number",
            "format": "double"
          },
          "totalCortesiaAlimentos": {
            "type": "number",
            "format": "double"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetailDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrdersResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDtoWithItems"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartialProductDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descripcionProducto": {
            "type": "string",
            "nullable": true
          },
          "idGrupo": {
            "type": "string",
            "nullable": true
          },
          "movimiento": {
            "type": "integer",
            "format": "int32"
          },
          "cantidad": {
            "type": "number",
            "format": "double"
          },
          "descripcionGrupo": {
            "type": "string",
            "nullable": true
          },
          "clasificacion": {
            "type": "string",
            "nullable": true
          },
          "modificador": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "productoCompuestoPrincipal": {
            "type": "integer",
            "format": "int32"
          },
          "nombreCorto": {
            "type": "string",
            "nullable": true
          },
          "imagen": {
            "type": "string",
            "nullable": true
          },
          "visibleMenu": {
            "type": "boolean"
          },
          "idProdServSat": {
            "type": "string",
            "nullable": true
          },
          "comentario": {
            "type": "string",
            "nullable": true
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "precioSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "impuesto1": {
            "type": "number",
            "format": "double"
          },
          "impuesto2": {
            "type": "number",
            "format": "double"
          },
          "impuesto3": {
            "type": "number",
            "format": "double"
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "bloqueado": {
            "type": "boolean"
          },
          "permitirprodcompenmodif": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PaymentMethodDto": {
        "type": "object",
        "properties": {
          "idFormaDePago": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "tipo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "tipoDeCambio": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "solicitaReferencia": {
            "type": "boolean",
            "nullable": true
          },
          "prioridadBoton": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cuentaContableImporte": {
            "type": "string",
            "nullable": true
          },
          "cuentaContableComision": {
            "type": "string",
            "nullable": true
          },
          "cuentaContableIvaComision": {
            "type": "string",
            "nullable": true
          },
          "comision": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "visible": {
            "type": "boolean",
            "nullable": true
          },
          "aceptaPropina": {
            "type": "boolean",
            "nullable": true
          },
          "subtipo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "prefijo1": {
            "type": "string",
            "nullable": true
          },
          "prefijo2": {
            "type": "string",
            "nullable": true
          },
          "codigoDePrefijoconsulta": {
            "type": "string",
            "nullable": true
          },
          "codigoDePrefijoacumred": {
            "type": "string",
            "nullable": true
          },
          "generaPuntos": {
            "type": "boolean",
            "nullable": true
          },
          "formatoImpresion": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "idFPagoFiscal": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "pagoEnLinea": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "tipoTarjeta": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "noFacturable": {
            "type": "boolean",
            "nullable": true
          },
          "comisionReporte1": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "comisionReporte2": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "tipoTarjetaBancaria": {
            "type": "integer",
            "format": "int32"
          },
          "idTipoDescuento": {
            "type": "string",
            "nullable": true
          },
          "idFormaPagoSat": {
            "type": "string",
            "nullable": true
          },
          "serviceCode": {
            "type": "string",
            "nullable": true
          },
          "leerBrazalete": {
            "type": "boolean"
          },
          "cargoHabitacionEg": {
            "type": "boolean"
          },
          "visibleKiosco": {
            "type": "boolean"
          },
          "autocapturar": {
            "type": "boolean"
          },
          "sumaTotal": {
            "type": "boolean"
          },
          "equivalencia": {
            "type": "string",
            "nullable": true
          },
          "bloqueaImporte": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PaymentMethodsResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PrintGroupRequest": {
        "type": "object",
        "properties": {
          "printerId": {
            "type": "string",
            "description": "Id de la impresora destino (obtenido de GET /print/{licenseKey}/printers).",
            "nullable": true
          },
          "jobType": {
            "type": "string",
            "description": "Tipo interno del trabajo de impresión (p. ej. \"kitchenTicket\", \"barTicket\", \"receipt\").",
            "nullable": true
          },
          "title": {
            "type": "string",
            "description": "Título del ticket — se imprime como la línea de destino (p. ej. \"COCINA\").",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrintLineRequest"
            },
            "description": "Artículos a imprimir en este ticket.",
            "nullable": true
          },
          "qrData": {
            "type": "string",
            "description": "QR del ticket si se requiere. Reservado para la futura plantilla de recibo.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PrintGroupResult": {
        "type": "object",
        "properties": {
          "printerId": {
            "type": "string",
            "description": "Id de la impresora a la que apuntó este grupo.",
            "nullable": true
          },
          "jobId": {
            "type": "string",
            "description": "Id de auditoría del trabajo de impresión creado, si se creó alguno.",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Estado del resultado: \"Completed\" o \"Failed\".",
            "nullable": true
          },
          "error": {
            "type": "string",
            "description": "Detalle de la falla cuando el grupo no se imprimió.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PrintLineRequest": {
        "type": "object",
        "properties": {
          "idProduct": {
            "type": "string",
            "description": "Id interno del producto.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Nombre del producto impreso en el ticket.",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "description": "Cantidad solicitada.",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Precio unitario. Se guarda para futuras plantillas de recibo; no se imprime en la comanda.",
            "format": "double",
            "nullable": true
          },
          "modifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModifiersPrint"
            },
            "description": "Modificadores del producto, impresos como líneas \"+ {nombre}\".",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "description": "Nota libre para esta línea, impresa como \"nota: {notas}\".",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PrintOrderRequest": {
        "type": "object",
        "properties": {
          "orderFolio": {
            "type": "string",
            "description": "Folio de la orden mostrado en el ticket (p. ej. \"169\").",
            "nullable": true
          },
          "isReprint": {
            "type": "boolean",
            "description": "Indica si el ticket ya había sido impreso anteriormente."
          },
          "price": {
            "type": "number",
            "description": "Total de la orden. Se guarda para futuras plantillas de recibo; no se imprime en la comanda.",
            "format": "double",
            "nullable": true
          },
          "paymentMethod": {
            "type": "string",
            "description": "Método de pago. Se guarda para futuras plantillas de recibo; no se imprime en la comanda.",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "description": "Nombre del negocio impreso como encabezado del ticket.",
            "nullable": true
          },
          "businessSubtitle": {
            "type": "string",
            "description": "Segunda línea opcional del encabezado, debajo del nombre del negocio (p. ej. marca o sucursal).",
            "nullable": true
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrintGroupRequest"
            },
            "description": "Un grupo de impresión por cada impresora destino.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Solicitud de impresión enviada desde el kiosko. Cada elemento de \"groups\" apunta a una impresora\r\npor su id y se renderiza y despacha de forma independiente. Las reimpresiones marcan \"isReprint\"\r\ny reenvían los mismos datos de líneas."
      },
      "PrintOrderResponse": {
        "type": "object",
        "properties": {
          "orderRef": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrintGroupResult"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Resultado de despachar una orden — una entrada por grupo de impresión, con resultados independientes."
      },
      "PrinterAssignmentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "printerIp": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "widthMm": {
            "type": "integer",
            "format": "int32"
          },
          "source": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Impresora a la que el kiosko puede apuntar por su id en una solicitud de impresión."
      },
      "PrinterAssignmentsResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "printers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrinterAssignmentDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "ProductDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descripcionProducto": {
            "type": "string",
            "nullable": true
          },
          "idGrupo": {
            "type": "string",
            "nullable": true
          },
          "descripcionGrupo": {
            "type": "string",
            "nullable": true
          },
          "clasificacion": {
            "type": "string",
            "nullable": true
          },
          "nombreCorto": {
            "type": "string",
            "nullable": true
          },
          "imagen": {
            "type": "string",
            "nullable": true
          },
          "visibleMenu": {
            "type": "boolean"
          },
          "idProdServSat": {
            "type": "string",
            "nullable": true
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "precioSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "impuesto1": {
            "type": "number",
            "format": "double"
          },
          "impuesto2": {
            "type": "number",
            "format": "double"
          },
          "impuesto3": {
            "type": "number",
            "format": "double"
          },
          "bloqueado": {
            "type": "boolean"
          },
          "permitirprodcompenmodif": {
            "type": "boolean"
          },
          "modificadores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModificadorDto"
            },
            "nullable": true
          },
          "gruposModificadores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GruposModificadorDto"
            },
            "nullable": true
          },
          "comentarios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProductsQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StationDto": {
        "type": "object",
        "properties": {
          "idEstacion": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "serie": {
            "type": "string",
            "nullable": true
          },
          "ip": {
            "type": "string",
            "nullable": true
          },
          "impresoraCheques": {
            "type": "string",
            "nullable": true
          },
          "impresoraNotas": {
            "type": "string",
            "nullable": true
          },
          "cajaComandero": {
            "type": "string",
            "nullable": true
          },
          "directorioRespaldo": {
            "type": "string",
            "nullable": true
          },
          "rutaTemporal": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StationsQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "stations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StationDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Token JWT Bearer. Se obtiene desde POST /api/v0/auth/login. Usado por los endpoints de administración.",
        "name": "Authorization",
        "in": "header"
      },
      "ApiKey": {
        "type": "apiKey",
        "description": "API key secreta. Se obtiene desde POST /api/v0/apikeys. Usada por los endpoints públicos de consulta (productos, estaciones).",
        "name": "X-Api-Key",
        "in": "header"
      },
      "LicenseKey": {
        "type": "apiKey",
        "description": "License key del worker (16 caracteres). Usada por los endpoints de auto-gestión del agente local (estadísticas, instalación).",
        "name": "X-License-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "ApiKey": [ ],
      "LicenseKey": [ ]
    }
  ]
}