{
  "openapi": "3.0.1",
  "info": {
    "title": "W Restaurant API",
    "description": "Gateway multi-tenant para Soft Restaurant. Registra tus sucursales y consulta sus datos en tiempo real. Versión estable para integraciones y SDK.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.wrestaurantapi.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/api/v1/productos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar productos",
        "description": "Devuelve el catálogo de productos de una sucursal, con paginación y filtros opcionales por grupo, clasificación y visibilidad en menú.",
        "operationId": "GetProducts",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idGrupo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clasificacion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibleMenu",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/productos/{licenseKey}/{idProducto}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Actualizar un producto",
        "description": "Actualiza los datos principales de un producto existente: descripción, grupo, nombre corto, precio, impuestos, bloqueo, visibilidad en menú electrónico y si permite producto compuesto en modificador.\n\nEs una actualización de reemplazo completo: se deben enviar todos los campos en cada solicitud (los valores omitidos no se conservan). El producto debe existir previamente — este endpoint no crea productos nuevos.\n\nAdemás del cambio en sí, la operación aplica automáticamente estos efectos:\n- Si el precio cambió, se registra en el historial de cambios de precio.\n- Si el producto también está registrado como modificador de sí mismo, su precio se sincroniza.\n- Se agrega una entrada de auditoría en la bitácora del sistema.\n- Se marca el producto para sincronización con otros sistemas conectados.\n\nNo modifica grupos de modificadores, paquetes, costos, comentarios, asignaciones de estación/almacén ni configuración de monedero del producto — esa configuración, si existe, se conserva sin cambios.",
        "operationId": "UpdateProduct",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idProducto",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              },
              "example": {"idEmpresa":"1","descripcionProducto":"TECATE LIGHT (ACTUALIZADO)","idGrupo":"001","nombreCorto":"TECATE LIGHT (UPD)","visibleMenu":true,"precio":45.0000,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"bloqueado":false,"permitirprodcompenmodif":true}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              },
              "example": {"idEmpresa":"1","descripcionProducto":"TECATE LIGHT (ACTUALIZADO)","idGrupo":"001","nombreCorto":"TECATE LIGHT (UPD)","visibleMenu":true,"precio":45.0000,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"bloqueado":false,"permitirprodcompenmodif":true}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              },
              "example": {"idEmpresa":"1","descripcionProducto":"TECATE LIGHT (ACTUALIZADO)","idGrupo":"001","nombreCorto":"TECATE LIGHT (UPD)","visibleMenu":true,"precio":45.0000,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"bloqueado":false,"permitirprodcompenmodif":true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/estaciones/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar estaciones",
        "description": "Devuelve las estaciones (mesas, áreas, terminales) configuradas en una sucursal, con paginación y búsqueda opcional.",
        "operationId": "GetStations",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/grupos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar grupos",
        "description": "Devuelve los grupos (categorías de productos) configurados en una sucursal, con paginación y búsqueda opcional por id, descripción o clasificación.",
        "operationId": "GetGrupos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GruposQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/turnos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar turnos",
        "description": "Devuelve los turnos (cortes de caja) registrados en una sucursal, con paginación y búsqueda opcional. Admite filtros de fecha (inclusivos, formato ISO 8601) sobre la apertura (`aperturaStart`/`aperturaEnd`) y sobre el cierre (`cierreStart`/`cierreEnd`); cada límite es opcional y pueden combinarse. Nota: los turnos abiertos no tienen fecha de cierre, por lo que cualquier filtro sobre `cierre` los excluye.",
        "operationId": "GetTurnos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aperturaStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "aperturaEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cierreStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cierreEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TurnosQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/asistencias/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar asistencias de empleados",
        "description": "Devuelve los registros de asistencia (entrada/salida) de los empleados de una sucursal, ordenados por empleado y hora de entrada, con paginación y búsqueda opcional por id o nombre del empleado. Cada registro incluye el nombre del empleado y su tipo (`1` = mesero, `2` = usuario), resueltos contra los catálogos correspondientes del Punto de Venta.\n\nPor defecto se consulta el día operativo actual de SoftRestaurant: de las 06:00 a las 05:59:59 del día siguiente. El inicio de esa ventana es configurable vía `dayStartHour`, o puede reemplazarse por un rango explícito con `entradaStart` y `entradaEnd` (formato ISO 8601, ambos límites inclusivos y opcionales por separado). La ventana efectivamente aplicada se devuelve en `entradaStart`/`entradaEnd` de la respuesta.\n\nLos registros cuya salida aún no se ha marcado se devuelven con `salida: null`, `abierta: true` y `duracionMinutos: null`. Usa `abiertas=true` para obtener solo a quienes siguen sin marcar salida, o `abiertas=false` para solo los turnos ya cerrados. Usa `tipo` para limitar la consulta a un solo catálogo de empleados.",
        "operationId": "GetAsistencias",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "description": "License key (16 caracteres) del punto de venta del que se consultan las asistencias.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página a devolver, empezando en 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Cantidad de registros por página. Máximo 100; valores mayores se recortan a 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Texto libre para filtrar por id o nombre del empleado. Coincidencia parcial en cualquier posición del texto.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entradaStart",
            "in": "query",
            "description": "Límite inferior (inclusivo) sobre la hora de entrada, en formato ISO 8601 y hora local de la sucursal (p. ej. \"2026-08-19T06:00:00\"). Si se omite, se usa el inicio del día operativo actual.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "entradaEnd",
            "in": "query",
            "description": "Límite superior (inclusivo) sobre la hora de entrada, en formato ISO 8601 y hora local de la sucursal. Si se omite, se usa el cierre del día operativo actual.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dayStartHour",
            "in": "query",
            "description": "Hora (0-23) en que inicia el día operativo usado cuando no se envían `entradaStart` ni `entradaEnd`. Por omisión 6, es decir de las 06:00 a las 05:59:59 del día siguiente.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 6
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Limita la consulta a un solo catálogo de empleados: 1 = meseros, 2 = usuarios. Si se omite, se devuelven ambos.",
            "schema": {
              "$ref": "#/components/schemas/TipoEmpleado"
            }
          },
          {
            "name": "abiertas",
            "in": "query",
            "description": "`true` devuelve solo los turnos sin salida marcada; `false` solo los ya cerrados. Si se omite, se devuelven ambos.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsistenciasQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden (nueva cuenta)",
        "description": "Crea una nueva cuenta y retorna el id.",
        "operationId": "CreateTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"14001","descripcionProducto":"Limonada natural","idGrupo":"0014","movimiento":2,"cantidad":1,"descripcionGrupo":"Refrescos","clasificacion":"1","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Limonada","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":45.00,"precioSinImpuestos":38.7931,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"14001","descripcionProducto":"Limonada natural","idGrupo":"0014","movimiento":2,"cantidad":1,"descripcionGrupo":"Refrescos","clasificacion":"1","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Limonada","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":45.00,"precioSinImpuestos":38.7931,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"14001","descripcionProducto":"Limonada natural","idGrupo":"0014","movimiento":2,"cantidad":1,"descripcionGrupo":"Refrescos","clasificacion":"1","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Limonada","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":45.00,"precioSinImpuestos":38.7931,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      },
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes temporales",
        "description": "Devuelve las órdenes del turno actual del Punto de Venta de una sucursal, con sus productos, formas de pago e impuestos.\n\nUsa `folio` para traer una orden concreta: es una coincidencia exacta, no una búsqueda parcial. Omítelo para no filtrar por folio.\n\nEl parámetro `search` busca coincidencias parciales en folio, número de cheque, mesa y total.\n\nUsa `facturado=true` para incluir solo órdenes ya facturadas, o `facturado=false` para incluir solo las no facturadas; si se omite, no se filtra por estado de facturación.\n\nRetorna solo cuentas del turno en curso, no admite filtros de fecha.",
        "operationId": "GetTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "facturado",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes_cerradas/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden cerrada (venta rápida)",
        "description": "Crea una nueva venta cerrada con su pago y retorna el folio generado.",
        "operationId": "CreateClosedTempOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"2","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.7241,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClosedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/descuento/{licenseKey}/{folio}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Aplicar descuento general a una cuenta",
        "description": "Aplica un descuento a toda una cuenta abierta, expresado como porcentaje del subtotal (modo \"porcentaje\") o como importe fijo (modo \"importe\").\n\nCuando el modo es \"importe\", `base` indica de qué cifra se resta ese importe: \"subtotal\" (por omisión) lo resta del subtotal sin impuestos, y \"total\" lo resta del total con impuestos. Sobre una cuenta de $35.00 con IVA, un importe de $10.00 deja el total en $23.40 con base \"subtotal\" y en $25.00 con base \"total\". En modo \"porcentaje\" el parámetro se ignora.\n\nEl descuento reemplaza cualquier descuento general previo de la cuenta — no se acumula. Para cancelar un descuento, envíe valor 0: los totales vuelven exactamente a sus valores originales.\n\nLa cuenta debe estar abierta: no pagada, no cancelada, no en uso en una estación, y sin imprimir (una cuenta impresa solo admite descuento si fue reabierta).\n\nAdemás del descuento, la operación aplica automáticamente estos efectos:\n- Recalcula todos los totales de la cuenta (subtotal, impuestos, total, alimentos/bebidas/otros).\n- Reparte el descuento entre alimentos, bebidas y otros en proporción a su peso en el subtotal.\n- Marca la cuenta para sincronización de descuentos con SoftRestaurant.\n- Un descuento del 100% se registra como CORTESÍA: `totalDescuentos` conserva sólo los descuentos por producto y el importe general pasa a `totalCortesias`.\nLos descuentos por producto ya aplicados a las líneas se conservan y se descuentan antes de este: el porcentaje general opera sobre el subtotal ya neteado.",
        "operationId": "ApplyOrderDiscount",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyOrderDiscountRequest"
              },
              "example": {"modo":"porcentaje","base":"subtotal","valor":10,"comentario":"Descuento de gerencia","idTipoDescuento":"","usuario":"ADMIN"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyOrderDiscountRequest"
              },
              "example": {"modo":"porcentaje","base":"subtotal","valor":10,"comentario":"Descuento de gerencia","idTipoDescuento":"","usuario":"ADMIN"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyOrderDiscountRequest"
              },
              "example": {"modo":"porcentaje","base":"subtotal","valor":10,"comentario":"Descuento de gerencia","idTipoDescuento":"","usuario":"ADMIN"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDiscountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/descuento_productos/{licenseKey}/{folio}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Aplicar descuento por producto a una cuenta",
        "description": "Aplica un descuento a una o más líneas de una cuenta abierta. Acepta los mismos parámetros y sigue las mismas reglas que el descuento general, pero referidos a cada línea en lugar de a toda la cuenta: `modo` (\"porcentaje\" o \"importe\") y, cuando el modo es \"importe\", `base` (\"subtotal\" o \"total\").\n\nEn modo \"importe\" el valor es POR UNIDAD. Una línea de 3 piezas a $100 con importe $50 sobre \"total\" descuenta $150 en total, porque cada pieza baja $50; el punto de venta lo guarda como un 50% en esa línea. Con base \"subtotal\" el importe se resta del precio unitario sin impuestos.\n\nCada línea se resuelve por separado: una misma petición puede combinar líneas con `modo` \"porcentaje\" y líneas con `modo` \"importe\", y usar bases distintas entre ellas.\n\nCada línea se identifica por su movimiento y su idProducto. El valor enviado reemplaza el descuento previo de esa línea — no se acumula. Para cancelar el descuento de una línea, envíe valor 0.\n\nEl descuento se guarda en la línea como porcentaje: el detalle de la cuenta no tiene columnas para el importe ni para la base, así que un importe se convierte a su porcentaje equivalente y sólo ese porcentaje queda almacenado.\n\nUn descuento del 100% en una línea se registra como CORTESÍA, no como descuento — igual que un descuento general del 100%. Aplica también si el importe enviado iguala el precio unitario.\n\nLa operación es atómica: si alguna línea del cuerpo no existe en la cuenta, no se aplica ningún descuento y se devuelve un error. Las líneas no mencionadas conservan su descuento actual.\n\nLa cuenta debe estar abierta: no pagada, no cancelada, no en uso en una estación, y sin imprimir (una cuenta impresa solo admite descuento si fue reabierta).\n\nAl terminar se recalculan todos los totales de la cuenta y se agrega una entrada de auditoría en la bitácora del sistema. Si la cuenta también tiene un descuento general, este se recalcula sobre el nuevo subtotal.",
        "operationId": "ApplyItemDiscounts",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyItemDiscountsRequest"
              },
              "example": {"comentario":"Producto con demora","idTipoDescuento":"","usuario":"ADMIN","items":[{"movimiento":1,"idProducto":"001002","modo":"porcentaje","base":"subtotal","valor":5},{"movimiento":4,"idProducto":"003002","modo":"porcentaje","base":"subtotal","valor":50}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyItemDiscountsRequest"
              },
              "example": {"comentario":"Producto con demora","idTipoDescuento":"","usuario":"ADMIN","items":[{"movimiento":1,"idProducto":"001002","modo":"porcentaje","base":"subtotal","valor":5},{"movimiento":4,"idProducto":"003002","modo":"porcentaje","base":"subtotal","valor":50}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyItemDiscountsRequest"
              },
              "example": {"comentario":"Producto con demora","idTipoDescuento":"","usuario":"ADMIN","items":[{"movimiento":1,"idProducto":"001002","modo":"porcentaje","base":"subtotal","valor":5},{"movimiento":4,"idProducto":"003002","modo":"porcentaje","base":"subtotal","valor":50}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDiscountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/productos/{licenseKey}/{folio}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Agregar productos a una cuenta abierta",
        "description": "Agrega una o más líneas a una cuenta que ya está abierta. La operación sólo toca la cuenta temporal — no genera una venta ni reimprime nada.\n\nEl campo `movimiento` de cada producto sólo define el orden dentro de esta petición y a qué producto base pertenece cada modificador: debe empezar en 1 y ser consecutivo. El movimiento real dentro de la cuenta lo asigna el punto de venta continuando desde la última línea existente, y se devuelve en `movimientos` — son esos valores los que se usan después para descontar o cancelar cada línea.\n\nRecuerde que `impuesto1`, `impuesto2` e `impuesto3` son TASAS en porcentaje (`16.00` = 16%), no importes.\n\nLa cuenta debe estar abierta: no pagada, no cancelada, no en uso en una estación, y sin imprimir (una cuenta impresa solo admite cambios si fue reabierta).\n\nAl terminar se recalculan todos los totales de la cuenta. Si la cuenta ya tenía un descuento general, este se conserva y se vuelve a aplicar sobre el nuevo subtotal; los descuentos por producto de las líneas existentes tampoco se pierden.",
        "operationId": "AddOrderItems",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderItemsRequest"
              },
              "example": {"usuario":"ADMIN","productos":[{"idProducto":"27004","descripcionProducto":"","idGrupo":"","movimiento":1,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"","precio":260.00,"precioSinImpuestos":224.137900,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"27007","descripcionProducto":"","idGrupo":"","movimiento":2,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":1,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"Sin cebolla","precio":0.00,"precioSinImpuestos":0.00,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderItemsRequest"
              },
              "example": {"usuario":"ADMIN","productos":[{"idProducto":"27004","descripcionProducto":"","idGrupo":"","movimiento":1,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"","precio":260.00,"precioSinImpuestos":224.137900,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"27007","descripcionProducto":"","idGrupo":"","movimiento":2,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":1,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"Sin cebolla","precio":0.00,"precioSinImpuestos":0.00,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderItemsRequest"
              },
              "example": {"usuario":"ADMIN","productos":[{"idProducto":"27004","descripcionProducto":"","idGrupo":"","movimiento":1,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":0,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"","precio":260.00,"precioSinImpuestos":224.137900,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false},{"idProducto":"27007","descripcionProducto":"","idGrupo":"","movimiento":2,"cantidad":1,"descripcionGrupo":"","clasificacion":"","modificador":1,"productoCompuestoPrincipal":0,"nombreCorto":"","imagen":"","visibleMenu":false,"idProdServSat":"","comentario":"Sin cebolla","precio":0.00,"precioSinImpuestos":0.00,"impuesto1":16.00,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrderItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      },
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Cancelar productos de una cuenta abierta",
        "description": "Cancela una o más líneas de una cuenta abierta. Cada línea se identifica por su movimiento y su idProducto; la línea se retira de la cuenta y la cancelación queda registrada para el personal de cocina y para el reporte de cancelaciones de la sucursal.\n\nCancelar un producto base arrastra sus modificadores: se cancelan junto con él y aparecen en `movimientos`, por lo que `itemsCancelados` puede ser mayor que el número de líneas enviadas. Cancelar un modificador por separado sí es posible y no afecta al producto base.\n\nLa operación es atómica: si alguna línea del cuerpo no existe en la cuenta, no se cancela nada y se devuelve un error.\n\n`razon` es el motivo de la cancelación en texto libre. Si la sucursal exige motivo (`forzarmotivocancela`), es obligatorio y no puede ir vacío. El punto de venta ofrece un catálogo de motivos sugeridos (SERVICIO LENTO, ERROR DE CAPTURA, MAL SABOR, CAMBIO DE OPINIÓN CLIENTE), pero son sólo texto y no llevan clave: envíe la descripción tal cual, o cualquier otro texto (máximo 200 caracteres).\n\nLo que queda guardado no es exactamente lo enviado: el punto de venta añade la mesa al final, con el formato `ERROR DE CAPTURA Mesa: CL-GE9-1`, porque su registro de cancelaciones no tiene columna de mesa. Esta API reproduce el mismo formato. En una venta sin mesa se guarda sólo el motivo.\n\nLa cuenta debe estar abierta: no pagada, no cancelada, no en uso en una estación, y sin imprimir (una cuenta impresa solo admite cambios si fue reabierta).\n\nAdemás de retirar las líneas, la operación:\n- Renumera las líneas restantes de forma consecutiva desde 1, igual que hace SoftRestaurant. Los movimientos devueltos son los que tenían ANTES de la renumeración.\n- Marca los productos correspondientes como cancelados en producción para que cocina lo vea.\n- Recalcula todos los totales de la cuenta, conservando el descuento general y los descuentos por producto de las líneas que sobreviven.\n- Agrega una entrada de auditoría en la bitácora del sistema.\n\nCancelar todas las líneas deja la cuenta ABIERTA y vacía con totales en cero; no cancela la cuenta.",
        "operationId": "CancelOrderItems",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderItemsRequest"
              },
              "example": {"items":[{"movimiento":2,"idProducto":"27004"}],"razon":"CAMBIO DE OPINION CLIENTE","usuario":"ADMIN"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderItemsRequest"
              },
              "example": {"items":[{"movimiento":2,"idProducto":"27004"}],"razon":"CAMBIO DE OPINION CLIENTE","usuario":"ADMIN"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderItemsRequest"
              },
              "example": {"items":[{"movimiento":2,"idProducto":"27004"}],"razon":"CAMBIO DE OPINION CLIENTE","usuario":"ADMIN"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/meseros/login/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Autenticar un mesero por NIP",
        "description": "Identifica al mesero al que pertenece un NIP. El NIP se valida en el punto de venta y nunca viaja en la respuesta.\n\nSolo meseros activos. Un NIP que no identifica a un único mesero recibe `code: NIP_NOT_RECOGNIZED`.",
        "operationId": "AuthenticateMesero",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMeseroRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMeseroRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMeseroRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedMeseroDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/productos/mas_vendidos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Productos más vendidos",
        "description": "Ranking de productos por unidades vendidas en cuentas cerradas, sin contar modificadores ni cuentas canceladas.\n\n`clasificacion`: 1 = bebidas, 2 = alimentos, 3 = otros (omitido = todas). `dias` limita a las ventas de los últimos N días (omitido = todo el historial). `top` entre 1 y 50 (por omisión 1).",
        "operationId": "GetBestSellers",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "clasificacion",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dias",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestSellersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/mesa/{licenseKey}/{folio}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Renombrar una cuenta abierta",
        "description": "Cambia el nombre (mesa) de una cuenta abierta y registra el cambio en la bitácora del punto de venta.\n\nEl nombre no puede estar en uso por otra cuenta abierta sin pagar (`code: TABLE_IN_USE`). La cuenta debe estar abierta: no pagada, no cancelada, no en uso en una estación, y sin imprimir (una cuenta impresa solo admite cambios si fue reabierta).",
        "operationId": "RenameOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RenameOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenameOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/subgrupos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar subgrupos y la ubicación de cada producto",
        "description": "Devuelve los subgrupos del menú (cada uno pertenece a un solo grupo; las descripciones se repiten entre grupos, así que identifique por `idSubgrupo`) y, para cada producto, el subgrupo en que está archivado (nulo si ninguno) y si se vende en comedor.",
        "operationId": "GetSubgrupos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubgruposResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/tipos_descuento/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar tipos de descuento",
        "description": "Devuelve el catálogo de tipos de descuento visibles de la sucursal. La clave idTipoDescuento de cada elemento es la que se envía al aplicar un descuento.\n\nCuando maximoActivado es true, el campo descuento funciona como tope: un descuento mayor a ese porcentaje será rechazado por el punto de venta.",
        "operationId": "GetTiposDescuento",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TiposDescuentoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/turnos_cierre/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Cerrar turno",
        "description": "Cierra un turno abierto: consolida las cuentas pagadas/canceladas en las tablas permanentes, libera mesas y marca el turno como cerrado. Requiere el idTurno exacto para evitar cerrar el turno equivocado cuando hay varios abiertos.",
        "operationId": "CloseShift",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseShiftRequest"
              },
              "example": {"idTurno":22,"estacion":"CAJA1","idEmpresa":"1","serie":"A"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseShiftRequest"
              },
              "example": {"idTurno":22,"estacion":"CAJA1","idEmpresa":"1","serie":"A"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CloseShiftRequest"
              },
              "example": {"idTurno":22,"estacion":"CAJA1","idEmpresa":"1","serie":"A"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseShiftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/turnos_apertura/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Abrir turno",
        "description": "Abre un nuevo turno para la estación y empresa indicadas. Devuelve el idTurno asignado junto con los datos de apertura (fondo, cajero, mesero, fondo en dólares). Falla con un error si ya existe un turno abierto para esa estación/empresa; ciérralo primero con turnos_cierre.",
        "operationId": "OpenShift",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenShiftRequest"
              },
              "example": {"estacion":"CAJA1","idEmpresa":"1","idMesero":"","cajero":"","fondo":0,"fondoDolares":0}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenShiftRequest"
              },
              "example": {"estacion":"CAJA1","idEmpresa":"1","idMesero":"","cajero":"","fondo":0,"fondoDolares":0}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenShiftRequest"
              },
              "example": {"estacion":"CAJA1","idEmpresa":"1","idMesero":"","cajero":"","fondo":0,"fondoDolares":0}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenShiftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/meseros/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar meseros",
        "description": "Devuelve el listado de meseros configurados en una sucursal. Acepta búsqueda por texto libre sobre idmesero, nombre y perfil (search), o coincidencia exacta sobre idmesero (idMesero). Si se envía idMesero se ignora search.",
        "operationId": "GetMeseros",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idMesero",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeserosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency — el worker no pudo ejecutar la operación (error del POS) o no respondió a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/empresas/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar empresas",
        "description": "Devuelve las empresas registradas en el Punto de Venta de una sucursal.",
        "operationId": "GetEmpresas",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
[...]
