{
  "openapi": "3.0.1",
  "info": {
    "title": "W Restaurant API",
    "description": "Gateway multi-tenant para Soft Restaurant. Registra tus sucursales y consulta sus datos en tiempo real. Versión estable para integraciones y SDK.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.wrestaurantapi.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/api/v1/productos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar productos",
        "description": "Devuelve el catálogo de productos de una sucursal, con paginación y filtros opcionales por grupo, clasificación y visibilidad en menú.",
        "operationId": "GetProducts",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idGrupo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clasificacion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibleMenu",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/estaciones/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar estaciones",
        "description": "Devuelve las estaciones (mesas, áreas, terminales) configuradas en una sucursal, con paginación y búsqueda opcional.",
        "operationId": "GetStations",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/grupos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar grupos",
        "description": "Devuelve los grupos (categorías de productos) configurados en una sucursal, con paginación y búsqueda opcional por id, descripción o clasificación.",
        "operationId": "GetGrupos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GruposQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/turnos/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar turnos",
        "description": "Devuelve los turnos (cortes de caja) registrados en una sucursal, con paginación y búsqueda opcional.",
        "operationId": "GetTurnos",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TurnosQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden (nueva cuenta)",
        "description": "Crea una nueva cuenta y retorna el id.",
        "operationId": "CreateTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "example": {"turnDependent":true,"mesa":"5","idMesero":"001","estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":2,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":2,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"Sin pepinillos","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}]}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      },
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes temporales",
        "description": "Devuelve las órdenes del turno actual por punto de Venta de una sucursal, con filtro opcional por folio, número de cheque o total. Usa `facturado=true` para incluir solo órdenes ya facturadas, o `facturado=false` para incluir solo las no facturadas; si se omite, no se filtra por estado de facturación.",
        "operationId": "GetTempOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "facturado",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes_cerradas/{licenseKey}": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Crear una orden cerrada (venta rápida)",
        "description": "Crea una nueva venta cerrada con su pago y retorna el folio generado.",
        "operationId": "CreateClosedTempOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClosedOrderRequest"
              },
              "example": {"turnDependent":true,"estacion":"CAJA1","serie":"A","idEmpresa":"1","noPersonas":1,"productos":[{"idProducto":"01052","descripcionProducto":"Hamburguesa doble carne","idGrupo":"0007","movimiento":1,"cantidad":1,"descripcionGrupo":"Hamburguesas","clasificacion":"ALIMENTOS","modificador":null,"productoCompuestoPrincipal":0,"nombreCorto":"Hamb. doble","imagen":"","visibleMenu":true,"idProdServSat":"50202306","comentario":"","precio":89.00,"precioSinImpuestos":76.72,"impuesto1":12.28,"impuesto2":0,"impuesto3":0,"descuento":0,"bloqueado":false,"permitirprodcompenmodif":false}],"idFormaDePago":"001"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClosedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/meseros/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar meseros",
        "description": "Devuelve el listado de meseros configurados en una sucursal.",
        "operationId": "GetMeseros",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeserosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/empresas/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar empresas",
        "description": "Devuelve las empresas registradas en el Punto de Venta de una sucursal.",
        "operationId": "GetEmpresas",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmpresasResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes_abiertas/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes abiertas del turno actual",
        "description": "Devuelve todas las cuentas activas (sin cancelar) del turno operativo actual (6:00 AM – 5:59:59 AM del día siguiente).",
        "operationId": "GetOpenOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenOrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/temp_ordenes_det/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar detalles de órdenes temporales",
        "description": "Devuelve las líneas de productos temporales de una sucursal, con paginación y filtros opcionales por folio de orden o búsqueda por producto.",
        "operationId": "GetTempOrderDetails",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "folio",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/ordenes/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes cerradas",
        "description": "Devuelve las órdenes cerradas/históricas del Punto de Venta de una sucursal, con filtro opcional por folio, número de cheque o total. Usa `facturado=true` para incluir solo órdenes ya facturadas, o `facturado=false` para incluir solo las no facturadas; si se omite, no se filtra por estado de facturación.",
        "operationId": "GetOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "facturado",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/ordenes_det/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar detalles de órdenes cerradas",
        "description": "Devuelve las líneas de productos de órdenes cerradas/históricas de una sucursal, con paginación y filtros opcionales por folio de orden o búsqueda por producto.",
        "operationId": "GetOrderDetails",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "folio",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/ordenes_dia/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar órdenes del día operativo",
        "description": "Devuelve todas las órdenes del día operativo actual (abiertas y cerradas), juntando las órdenes según los turnos que iniciaron y cerraron dentro de la ventana. Por defecto la ventana es 06:00–05:59:59 del día siguiente; el inicio es configurable vía dayStartHour. Usa `facturado=true` para incluir solo órdenes ya facturadas, o `facturado=false` para incluir solo las no facturadas; si se omite, no se filtra por estado de facturación.",
        "operationId": "GetDayOrders",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "dayStartHour",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 6
            }
          },
          {
            "name": "facturado",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/formasdepago/{licenseKey}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Listar todas las formas de pago en una sucursal",
        "description": "Retorna todas las formas de pago disponibles en una sucursal específica.",
        "operationId": "GetPaymentMethods",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/facturas/xml/{licenseKey}/{numCheque}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Descargar el XML de una factura",
        "description": "Descarga el contenido XML (CFDI) de la factura asociada a un número de cheque, dentro de una empresa del Punto de Venta.",
        "operationId": "GetFacturaXml",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numCheque",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmpresa",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "pos"
      }
    },
    "/api/v1/me/printers": {
      "get": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Listar mis impresoras",
        "description": "Devuelve las impresoras del usuario. Filtra por licenseKey para limitar a un solo punto de venta.",
        "operationId": "ListPrinters",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrinterDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      },
      "post": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Registrar una impresora",
        "description": "Registra una nueva impresora en uno de los puntos de venta del usuario.",
        "operationId": "CreatePrinter",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrinterRequest"
              },
              "example": {"licenseKey":"DS5D2368HCME4O9X","printerIp":"192.168.1.50","displayName":"Cocina","widthMm":80,"source":"windows","sourceId":"POS-01"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrinterRequest"
              },
              "example": {"licenseKey":"DS5D2368HCME4O9X","printerIp":"192.168.1.50","displayName":"Cocina","widthMm":80,"source":"windows","sourceId":"POS-01"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrinterRequest"
              },
              "example": {"licenseKey":"DS5D2368HCME4O9X","printerIp":"192.168.1.50","displayName":"Cocina","widthMm":80,"source":"windows","sourceId":"POS-01"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      }
    },
    "/api/v1/me/printers/{id}": {
      "get": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Obtener una impresora",
        "description": "Devuelve una impresora del usuario por su id.",
        "operationId": "GetPrinter",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      },
      "put": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Actualizar una impresora",
        "description": "Actualiza la configuración de una impresora existente del usuario.",
        "operationId": "UpdatePrinter",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrinterRequest"
              },
              "example": {"printerIp":"192.168.1.51","displayName":"Cocina (caliente)","widthMm":80,"source":"windows","sourceId":"POS-01"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrinterRequest"
              },
              "example": {"printerIp":"192.168.1.51","displayName":"Cocina (caliente)","widthMm":80,"source":"windows","sourceId":"POS-01"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrinterRequest"
              },
              "example": {"printerIp":"192.168.1.51","displayName":"Cocina (caliente)","widthMm":80,"source":"windows","sourceId":"POS-01"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      },
      "delete": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Eliminar una impresora",
        "description": "Elimina de forma permanente una impresora del usuario.",
        "operationId": "DeletePrinter",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      }
    },
    "/api/v1/print/{licenseKey}": {
      "post": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Imprimir una orden",
        "description": "Renderiza tickets ESC/POS y los envía a las impresoras de la sucursal. Cada grupo apunta a una impresora por su id (printerId). Marca isReprint=true para reimpresiones.",
        "operationId": "PrintOrder",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              },
              "example": {"orderFolio":"169","isReprint":false,"price":128.50,"paymentMethod":"CARD","businessName":"Mi Restaurante","businessSubtitle":"Sucursal Centro","groups":[{"printerId":"00000000-b12a-405f-905d-dbf424c20000","jobType":"order","title":"COCINA","items":[{"idProduct":"01052","name":"Hamburguesa doble carne","quantity":2,"price":89.00,"modifiers":[{"idModifier":"50110","name":"Sin cebolla","price":0}],"notes":"Sin pepinillos"}],"qrData":null}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              },
              "example": {"orderFolio":"169","isReprint":false,"price":128.50,"paymentMethod":"CARD","businessName":"Mi Restaurante","businessSubtitle":"Sucursal Centro","groups":[{"printerId":"00000000-b12a-405f-905d-dbf424c20000","jobType":"order","title":"COCINA","items":[{"idProduct":"01052","name":"Hamburguesa doble carne","quantity":2,"price":89.00,"modifiers":[{"idModifier":"50110","name":"Sin cebolla","price":0}],"notes":"Sin pepinillos"}],"qrData":null}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PrintOrderRequest"
              },
              "example": {"orderFolio":"169","isReprint":false,"price":128.50,"paymentMethod":"CARD","businessName":"Mi Restaurante","businessSubtitle":"Sucursal Centro","groups":[{"printerId":"00000000-b12a-405f-905d-dbf424c20000","jobType":"order","title":"COCINA","items":[{"idProduct":"01052","name":"Hamburguesa doble carne","quantity":2,"price":89.00,"modifiers":[{"idModifier":"50110","name":"Sin cebolla","price":0}],"notes":"Sin pepinillos"}],"qrData":null}]}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      }
    },
    "/api/v1/print/{licenseKey}/printers": {
      "get": {
        "tags": [
          "Impresoras"
        ],
        "summary": "Listar impresoras de la sucursal",
        "description": "Devuelve las impresoras configuradas para la sucursal (id, IP, nombre, ancho), para que el kiosko elija el printerId al imprimir.",
        "operationId": "GetPrinters",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API key secreta de tu cuenta. Se envía en cada solicitud.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ejemplo": {
                "value": "TU_API_KEY"
              }
            }
          },
          {
            "name": "licenseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterAssignmentsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "printers"
      }
    }
  },
  "components": {
    "schemas": {
      "CommentDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateClosedOrderRequest": {
        "type": "object",
        "properties": {
          "turnDependent": {
            "type": "boolean"
          },
          "estacion": {
            "type": "string",
            "nullable": true
          },
          "serie": {
            "type": "string",
            "nullable": true
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "productos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartialProductDto"
            },
            "nullable": true
          },
          "idFormaDePago": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateClosedOrderResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "turnDependent": {
            "type": "boolean"
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "estacion": {
            "type": "string",
            "nullable": true
          },
          "serie": {
            "type": "string",
            "nullable": true
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "productos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartialProductDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "folio": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreatePrinterRequest": {
        "required": [
          "licenseKey",
          "printerIp",
          "widthMm"
        ],
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string",
            "description": "License key (16 caracteres) del punto de venta al que pertenece la impresora.",
            "nullable": true
          },
          "printerIp": {
            "type": "string",
            "description": "Dirección IP de la impresora en la red local de la sucursal (p. ej. \"192.168.1.50\").",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "description": "Nombre visible de la impresora (p. ej. \"Cocina\", \"Barra\").",
            "nullable": true
          },
          "widthMm": {
            "type": "integer",
            "description": "Ancho del papel en milímetros (típicamente 58 u 80).",
            "format": "int32"
          },
          "source": {
            "type": "string",
            "description": "Origen opcional de la impresora cuando se importa de un sistema externo.",
            "nullable": true
          },
          "sourceId": {
            "type": "string",
            "description": "Identificador de la impresora en el sistema de origen, si aplica.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Cuerpo para registrar una nueva impresora en un punto de venta del usuario."
      },
      "EmpresaDto": {
        "type": "object",
        "properties": {
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "razonSocial": {
            "type": "string",
            "nullable": true
          },
          "direccion": {
            "type": "string",
            "nullable": true
          },
          "sucursal": {
            "type": "string",
            "nullable": true
          },
          "rfc": {
            "type": "string",
            "nullable": true
          },
          "curp": {
            "type": "string",
            "nullable": true
          },
          "telefono": {
            "type": "string",
            "nullable": true
          },
          "giro": {
            "type": "string",
            "nullable": true
          },
          "contacto": {
            "type": "string",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "fechaCompra": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "distribuidor": {
            "type": "string",
            "nullable": true
          },
          "numeroFactura": {
            "type": "string",
            "nullable": true
          },
          "numeroDeControl": {
            "type": "string",
            "nullable": true
          },
          "contrasenaControl": {
            "type": "string",
            "nullable": true
          },
          "idHardware": {
            "type": "string",
            "nullable": true
          },
          "licenciaPrincipal": {
            "type": "string",
            "nullable": true
          },
          "licenciaMonederoElectronico": {
            "type": "string",
            "nullable": true
          },
          "licenciaMonitorProduccion": {
            "type": "string",
            "nullable": true
          },
          "licenciaSrMovil": {
            "type": "string",
            "nullable": true
          },
          "licenciaManttoVentas": {
            "type": "string",
            "nullable": true
          },
          "licenciaPagoEnLinea": {
            "type": "string",
            "nullable": true
          },
          "licenciaHuellaDigital": {
            "type": "string",
            "nullable": true
          },
          "licenciaBillar": {
            "type": "string",
            "nullable": true
          },
          "franquicia": {
            "type": "string",
            "nullable": true
          },
          "web": {
            "type": "string",
            "nullable": true
          },
          "ciudad": {
            "type": "string",
            "nullable": true
          },
          "estado": {
            "type": "string",
            "nullable": true
          },
          "pais": {
            "type": "string",
            "nullable": true
          },
          "ciudadSucursal": {
            "type": "string",
            "nullable": true
          },
          "estadoSucursal": {
            "type": "string",
            "nullable": true
          },
          "passwordEmpresa": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EmpresasResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "empresas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmpresaDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GrupoDto": {
        "type": "object",
        "properties": {
          "idGrupo": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "clasificacion": {
            "type": "string",
            "nullable": true
          },
          "prioridad": {
            "type": "integer",
            "format": "int32"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "colorLetra": {
            "type": "string",
            "nullable": true
          },
          "prioridadImpresion": {
            "type": "integer",
            "format": "int32"
          },
          "cambiaColorCuenta": {
            "type": "boolean"
          },
          "colorCuenta": {
            "type": "string",
            "nullable": true
          },
          "colorLetraCuenta": {
            "type": "string",
            "nullable": true
          },
          "solicitaAutorizacion": {
            "type": "boolean"
          },
          "imagenMenuElectronico": {
            "type": "string",
            "nullable": true
          },
          "extMenu": {
            "type": "string",
            "nullable": true
          },
          "porcentajePropina": {
            "type": "number",
            "format": "double"
          },
          "imagenMenu": {
            "type": "string",
            "nullable": true
          },
          "idEtiqueta": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "workspaceId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "alcohol": {
            "type": "boolean"
          },
          "serviceCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GruposModificadorDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "idGruposModificadores": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "prioridad": {
            "type": "integer",
            "format": "int32"
          },
          "forzarCaptura": {
            "type": "boolean"
          },
          "maximoModificadores": {
            "type": "integer",
            "format": "int32"
          },
          "incluidos": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "GruposQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "grupos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GrupoDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ImpuestosDto": {
        "type": "object",
        "properties": {
          "nombreImpuesto1": {
            "type": "string",
            "nullable": true
          },
          "impuesto1": {
            "type": "number",
            "format": "double"
          },
          "nombreImpuesto2": {
            "type": "string",
            "nullable": true
          },
          "impuesto2": {
            "type": "number",
            "format": "double"
          },
          "nombreImpuesto3": {
            "type": "string",
            "nullable": true
          },
          "impuesto3": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "MeseroDto": {
        "type": "object",
        "properties": {
          "idMeseroInterno": {
            "type": "integer",
            "format": "int64"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "contrasena": {
            "type": "string",
            "nullable": true
          },
          "tipo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "fotografia": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "visible": {
            "type": "boolean"
          },
          "idEmpresa": {
            "type": "string",
            "nullable": true
          },
          "tipoAcceso": {
            "type": "boolean"
          },
          "capturaRestringidaMesas": {
            "type": "boolean"
          },
          "perfil": {
            "type": "string",
            "nullable": true
          },
          "monitorMeseroColorFondo": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "monitorMeseroColorLetra": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "accesoIndicadorMesas": {
            "type": "boolean"
          },
          "turnoAbierto": {
            "type": "boolean"
          },
          "comision": {
            "type": "number",
            "format": "double"
          },
          "autorizaProductosMenuQr": {
            "type": "boolean"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MeserosResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "meseros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeseroDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ModificadorDto": {
        "type": "object",
        "properties": {
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "idModificador": {
            "type": "string",
            "nullable": true
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "nombre": {
            "type": "string",
            "nullable": true
          },
          "idGruposModificadores": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ModifiersPrint": {
        "required": [
          "idModifier",
          "name",
          "price"
        ],
        "type": "object",
        "properties": {
          "idModifier": {
            "type": "string",
            "description": "Id interno del modificador.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Nombre del modificador impreso en el ticket.",
            "nullable": true
          },
          "price": {
            "type": "number",
            "description": "Precio del modificador. Se guarda para futuras plantillas de recibo; no se imprime en la comanda.",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "OpenOrderDto": {
        "type": "object",
        "properties": {
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "serieFolio": {
            "type": "string",
            "nullable": true
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          },
          "fecha": {
            "type": "string",
            "format": "date-time"
          },
          "cierre": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "pagado": {
            "type": "boolean"
          },
          "cancelado": {
            "type": "boolean"
          },
          "impreso": {
            "type": "boolean"
          },
          "impresiones": {
            "type": "integer",
            "format": "int32"
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "razonCancelado": {
            "type": "string",
            "nullable": true
          },
          "orden": {
            "type": "string",
            "nullable": true
          },
          "facturado": {
            "type": "boolean"
          },
          "idTurno": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "usuarioCancelo": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "usuarioPago": {
            "type": "string",
            "nullable": true
          },
          "totalArticulos": {
            "type": "number",
            "format": "double"
          },
          "subtotal": {
            "type": "number",
            "format": "double"
          },
          "subtotalSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "totalConPropina": {
            "type": "number",
            "format": "double"
          },
          "efectivo": {
            "type": "number",
            "format": "double"
          },
          "tarjeta": {
            "type": "number",
            "format": "double"
          },
          "vales": {
            "type": "number",
            "format": "double"
          },
          "otros": {
            "type": "number",
            "format": "double"
          },
          "propina": {
            "type": "number",
            "format": "double"
          },
          "totalSinDescuento": {
            "type": "number",
            "format": "double"
          },
          "totalAlimentos": {
            "type": "number",
            "format": "double"
          },
          "totalBebidas": {
            "type": "number",
            "format": "double"
          },
          "totalOtros": {
            "type": "number",
            "format": "double"
          },
          "totalDescuentos": {
            "type": "number",
            "format": "double"
          },
          "totalCortesias": {
            "type": "number",
            "format": "double"
          },
          "totalCortesiaAlimentos": {
            "type": "number",
            "format": "double"
          },
          "nombreMesero": {
            "type": "string",
            "nullable": true
          },
          "impuestos": {
            "$ref": "#/components/schemas/ImpuestosDto"
          }
        },
        "additionalProperties": false
      },
      "OpenOrdersResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenOrderDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderDetailDto": {
        "type": "object",
        "properties": {
          "folioDet": {
            "type": "integer",
            "format": "int32"
          },
          "movimiento": {
            "type": "integer",
            "format": "int32"
          },
          "comanda": {
            "type": "string",
            "nullable": true
          },
          "cantidad": {
            "type": "number",
            "format": "double"
          },
          "idProducto": {
            "type": "string",
            "nullable": true
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "precio": {
            "type": "number",
            "format": "double"
          },
          "precioSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "comentario": {
            "type": "string",
            "nullable": true
          },
          "tiempo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mitad": {
            "type": "number",
            "format": "double"
          },
          "hora": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "modificador": {
            "type": "integer",
            "format": "int32"
          },
          "idEstacion": {
            "type": "string",
            "nullable": true
          },
          "usuarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "idTipoDescuento": {
            "type": "string",
            "nullable": true
          },
          "idProductoCompuesto": {
            "type": "string",
            "nullable": true
          },
          "productoCompuestoPrincipal": {
            "type": "integer",
            "format": "int32"
          },
          "precioCatalogo": {
            "type": "number",
            "format": "double"
          },
          "marcar": {
            "type": "integer",
            "format": "int32"
          },
          "idMeseroProducto": {
            "type": "string",
            "nullable": true
          },
          "idCortesia": {
            "type": "string",
            "nullable": true
          },
          "numeroTarjeta": {
            "type": "string",
            "nullable": true
          },
          "folioProduccion": {
            "type": "number",
            "format": "double"
          },
          "nivel": {
            "type": "integer",
            "format": "int32"
          },
          "sistemaEnvio": {
            "type": "integer",
            "format": "int32"
          },
          "promoVolumen": {
            "type": "integer",
            "format": "int32"
          },
          "impuestos": {
            "$ref": "#/components/schemas/ImpuestosDto"
          }
        },
        "additionalProperties": false
      },
      "OrderDetailsQueryResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "workerId": {
            "type": "string",
            "format": "uuid"
          },
          "dispatchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "orderDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetailDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderDtoWithItemsAndPayments": {
        "type": "object",
        "properties": {
          "folio": {
            "type": "integer",
            "format": "int32"
          },
          "serieFolio": {
            "type": "string",
            "nullable": true
          },
          "numcheque": {
            "type": "integer",
            "format": "int32"
          },
          "fecha": {
            "type": "string",
            "format": "date-time"
          },
          "cierre": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mesa": {
            "type": "string",
            "nullable": true
          },
          "noPersonas": {
            "type": "integer",
            "format": "int32"
          },
          "idMesero": {
            "type": "string",
            "nullable": true
          },
          "pagado": {
            "type": "boolean"
          },
          "cancelado": {
            "type": "boolean"
          },
          "impreso": {
            "type": "boolean"
          },
          "impresiones": {
            "type": "integer",
            "format": "int32"
          },
          "descuento": {
            "type": "number",
            "format": "double"
          },
          "razonCancelado": {
            "type": "string",
            "nullable": true
          },
          "orden": {
            "type": "string",
            "nullable": true
          },
          "facturado": {
            "type": "boolean"
          },
          "idTurno": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "usuarioCancelo": {
            "type": "string",
            "nullable": true
          },
          "comentarioDescuento": {
            "type": "string",
            "nullable": true
          },
          "usuarioPago": {
            "type": "string",
            "nullable": true
          },
          "totalArticulos": {
            "type": "number",
            "format": "double"
          },
          "subtotal": {
            "type": "number",
            "format": "double"
          },
          "subtotalSinImpuestos": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "totalConPropina": {
            "type": "number",
            "format": "double"
          },
          "efectivo": {
            "type": "number",
            "format": "double"
          },
          "tarjeta": {
            "type": "number",
            "format": "double"
          },
          "vales": {
            "type": "number",
            "format": "double"
          },
          "otros": {
            "type": "number",
            "format": "double"
          },
          "propina": {
            "type": "number",
            "format": "double"
          },
          "totalSinDescuento": {
            "type": "number",
            "format": "double"
          },
          "totalAlimentos": {
            "type": "number",
            "format": "double"
          },
          "totalBebidas": {
            "type": "number",
            "format": "double"
          },
          "totalOtros": {
            "type": "number",
            "format": "double"
          },
          "totalDescuentos": {
            "type": "number",
            "format": "double"
          },
          "totalCortesias": {
            "type": "number",
            "format": "double"
          },
          "totalCortesiaAlimentos": {
            "type": "number",
            "format": "double"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetailDto"
            },
            "nullable": true
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderPaymentMethodsDto"
            },
            "nullable": true
          },
          "impuestos": {
            "$ref": "#/components/schemas/ImpuestosDto"
          }
        },
[...]
